.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.chatbox {
  border: 1px solid #ccc;
  height: 300px;
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-sec {
  background-color: #cbcbcb;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-sec:hover{
  background-color: #b3b3b3;
}



.button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }

  .chatbox {
    height: 200px;
    max-width: 100%;
  }

  .button {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}